/* ServersTable.css */

/* Define styles for the first icon */
.material-symbols-outlined-1 {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

/* Define styles for the second icon */
.material-symbols-outlined-2 {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

/* Define styles for the third icon */
.material-symbols-outlined-3 {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

.servers-table-container {
  margin-top: 25px; 
  padding-left: 20px;
}

.linked-sessions span {
  margin-right: 25px; 
}

.view-more span {
  margin-right: 5px; 
  cursor: pointer;
}
.table-servers-table-1{
  width: 98px;
  height: 20px;
  font: "inter";
  font-weight: 400;
  size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: #a1a1a1;
}
.table-servers-table-2{
  width: 133.5px;
  height: 20px;
  font: "inter";
  font-weight: 400;
  size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: #111;
}
.table-servers-table-3{
  width: 179px;
  height: 20px;
  font: "inter";
  font-weight: 400;
  size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: #111111;

}
.table-servers-table-4{
  width: 133.5px;
  height: 20px;
  font: "inter";
  font-weight: 400;
  size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: #111111;
}
.table-servers-table-5{
  width: 133.5px;
  height: 20px;
  font: "inter";
  font-weight: 400;
  size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: #4CAF50;
}