/* Sidebar.css */
.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #343a40;
    padding-top: 20px;
  }
  
  .sidebar-header {
    text-align: center;
    color: #ffffff;
  }
  
  .list-unstyled {
    padding: 20px;
    color: #ffffff;
  }
  
  .list-unstyled li {
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .list-unstyled li:hover {
    color: #28a745;
  }
  
  .list-unstyled li svg {
    margin-right: 10px;
  }
  