/* Placeholder styles for OutlineFillDefault */ 
:root{
    --cyan-20:rgba(5, 147, 184, 1);
}
.outline-fill-default {
    background-color: #3498db;
    width: 112px;
    height: 40px;
    color: #ffffff;
    padding: 10px 20px 10px 20px;
    gap: 8px;
    border: 2px solid #3498db;
    border-radius: 5px;
    cursor: pointer;
  }  
  .design-component-instance-node .text {
    color: var(--cyan-c20);
    font-family: "Inter-Bold", Helvetica;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.4px;
    line-height: 16px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  .outline-fill-default .text {
    color: #ffffff;
  }

  .frame {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 92px;
    padding: 0px 0px 20px;
    width: 1085px;
    position: relative;
  }
  .frame .text-wrapper {
    align-self: stretch;
    color: #111111;
    font-family: "Inter-Regular", Helvetica;
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 44px;
    margin-top: -1px;
    position: relative;
  }
.navbar-icons {
    display: flex;
    align-items: center;
  }
  
  .user-icon {
    margin-left: 10px; 
  }
  
  .user-name {
    margin-left: 5px; 
    margin-right: 10px;
  }
  
  .dropdown-arrow {
    font-size: 12px;
    cursor: pointer;
  }
  .navbar-brand {
    height: 24px;
    width: 46px;
    color: red;
  }
  .text-1{
    width: 1085px;
    height: 44px;
    font: "Inter";
    font-weight: 400;
    size: 36px;
    line-height: 44px;
    color: #111111;
  }
  .text-2{
    width: 1085px;
    height: 64px;
    font: "inter";
    font-weight: 400;
    size: 86px;
    line-height: 44px;
    color: #111111;
    font-size: 36px;
    font-family: "Inter-Regular", Helvetica;
    top: 10;
    letter-spacing: 0;
    
  }

  .text-container {
    width: 100%;
    background-color: #001234;
    padding: 50px;
  }
  
  .text-section {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .section-number {
    width: 60px;
    height: 60px;
    border: 1px;
    border-radius: 1000px;
    display: flex;
    flex-direction: column;
    position: relative;
    white-space: nowrap;
    width: fit-content;
    letter-spacing: 0;
    color: #ffffffe6;
    font-family: "Inter-SemiBold", Helvetica;
    padding: 10px;
    font-size: 24px;
    line-height: 32px;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }
  
  .section-title {
    font-weight: bold;
    font: "inter";
    font-weight: 400;
    padding-left: 20px;
    color: #ffffff;
  }
  
  .circle-circle-red-border:hover {
    background-color: white;
    color: blue;
  }
  .button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .mb-4-text-primary-font-weight-bold{
    width: 529px;
    height: 52px;
    font: "inter";
    font-weight: 400;
    font-size: 35px;
    line-height: 52px;
    color: #ffffff;
  }
  
  /* .rectangular-bar {
    height: 12px;
    width: 12px;
    border-radius: 1000px;
    margin-top: 5px;
  }
  
  .green {
    background-color: #009DAE;
  }
  
  .red {
    background-color: #2979FF;
  }
  
  .blue {
    background:#ba3b70;;
  } */
  /* .content-item-1{
    width: 257px;
    height: 115px;
    border-radius: 12px;
    padding: 30px;
    gap: 16px;
    color: #2f286e;
  } */
  /* .content-item-2{
    width: 197px;
    height: 32px;
    font: "inter";
    font-weight: 400;
    size: 24px;
    line-height: 32px;
  } */
  .additional-content-container-1{
    color: black;
  }
  
  .content-item-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .button-container {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .rectangular-bar {
    height: 12px;
    width: 12px;
    border-radius: 1000px;
    margin-right: 5px; /* Adjust as needed */
  }
  
  .green {
    background-color: #009DAE;
  }
  
  .red {
    background-color: #2979FF;
  }
  
  .blue {
    background: #ba3b70;
  }
  
  .content-item {
    width: 257px;
    height: 115px;
    border-radius: 12px;
    padding: 30px;
    gap: 16px;
    color: #2f286e;
    
  }
  
  .content-item img {
    max-width: 60px; /* Ensure the image doesn't exceed its container */
  }
  .overview-content-container-1{
    color: #2f286e;
    width: 1px;
    height: 38px;
    font: "inter";
    font-weight: 400;
    size: 22px;
    padding: 0px;
  }
  .mb-5-text-primary-font-weight-bold{
   width: 620px;
   height: 44px;
   top: 256px; 
   left: 809px;
   font: 'inter';
   font-weight: 400;
   font-size: 36px;
   line-height: 44px;
   color: #111111;
  }
  .form-group{
    width: 600px;
    height: 92px;
    top: 80px;
    left: -941px;
    color: #0593b8;
  }
  .section-number-1{
    height: 32px;
    width: 310px;
    color: #ffffffe6;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 24px;
    font-weight: 600;
    left: 0;
    letter-spacing: 0;
    line-height: 32px;
    position: relative;
    top: 0;
    width: 310px;
  }
  .circle-circle-red-border{
    width: 310px;
    height: 32px;
    font: "inter";
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    color: #ffffffe6;
  }
  .text-white-mb-3{
    height: 32px;
    width: 310px;
    color: #ffffffe6;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 24px;
    font-weight: 600;
    left: 0;
    letter-spacing: 0;
    line-height: 32px;
    position: relative;
    top: 0;
    width: 310px;
  }